body {
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background: #009688;
  padding: 16px 15px;
}
header > h1 {
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  margin: 10px 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Segoe UI", Arial, sans-serif;
}

/* Container flex-box */
.container {
  margin: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  background: #ffffff;
  flex: 1;
  box-shadow: 2px 2px 4px rgba(17, 16, 16, 0.5);
}

.text-container {
  padding: 0.1em 16px;
}

img {
  width: 100%;
}