body {
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background: #009688;
  padding: 16px 15px;
}
header > h1 {
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  margin: 10px 0;
}

h1, h2, h3, h4 {
  font-family: "Segoe UI", Arial, sans-serif;
}

/* Container flex-box */
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
